
on:
  push:
    branches: [main]

name: pkgdown

jobs:
  pkgdown:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/pkgdown@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
